doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Joom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
        link(rel="stylesheet", href="public/css/style.css")
    body
        header
            h1 Joom
        main
            div#welcome
                form
                    input#roomName(type="text", required, placeholder="Room Name")
                    button#create Enter Room
            div#call
                div#myVideo
                    //- playsInline은 모바일 브라우저가 필요로 하는 속성, 모바일에서 전체 화면으로 재생되는 것을 방지  
                    video#video(autoPlay,playsInline, width="400", height="400")
                    button#mute Mute
                    button#camera Turn off Camera
                    select#cameras
                video#peerVideo(autoPlay,playsInline, width="400", height="400")
                    //- playsInline은 모바일 브라우저가 필요로 하는 속성, 모바일에서 전체 화면으로 재생되는 것을 방지  
                    //- video#video(autoPlay,playsInline, width="400", height="400")

        script(src="/socket.io/socket.io.js")
        script(src="public/js/app.js")