doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Joom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            h1 Joom
        main
            div#welcome 
                form 
                    input(placeholder="채팅방 이름을 입력하세요", type="text" required)
                    button Enter Room
                h4 
                    | 채팅방 목록
                ul
            div#room
                h3 
                ul
                form#nickname
                    input(placeholder="닉네임을 입력하세요", type="text" required)
                    button Save
                form#message
                    input(placeholder="메세지를 입력하세요", type="text" required)
                    button Send
        script(src="/socket.io/socket.io.js")
        script(src="public/js/app.js")